@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";


html {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text{
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #15143966;
}

.is-active{
    /*font-weight: 500;*/
    /*font-size: 18px;*/
    /*line-height: 28px;*/
    /*letter-spacing: 0;*/
    color: #1E0E62;
}

.card-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: #1E0E62
}

.card-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #1E0E62;
}

.card-price{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #482BE7 !important;

}

.card.is-transparent {
    background: none;
    box-shadow: none;
    border: none;
}